<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div class="header-details">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nom du Personnage"/></h1>
        </div>
    </header>

    <section class="sheet-body">
        <div class="attributes">
            <h2>{{localize "TRPG_TW_FR.Attributes"}}</h2>
            <div class="attribute-row">
                <label for="system.strength">{{localize "TRPG_TW_FR.Strength"}}</label>
                <input type="number" name="system.strength" value="{{actor.system.strength}}" data-dtype="Number"/>
            </div>
            <div class="attribute-row">
                <label for="system.agility">{{localize "TRPG_TW_FR.Agility"}}</label>
                <input type="number" name="system.agility" value="{{actor.system.agility}}" data-dtype="Number"/>
            </div>
        </div>
    </section>
</form>